# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual Environment
venv/
env/
.env
*.env

# VS Code
.vscode/

# Streamlit
.streamlit/secrets.toml

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Logs
*.log

# Temp files
*.tmp
*.bak